@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.navbar{
  font-family: "Playfair Display", serif;
  font-weight: 500;
}

.cooo{
  font-family: "Mulish", sans-serif;
  /* position: relative; */
  
  box-shadow: 10px 10px 42px 0 rgba(0,0,0,0.75);

}

.pName{
  font-family: "Mulish", sans-serif;
}

.heading{
  font-family: "Mulish", sans-serif;
}


/* .containerss{
  border-radius: 0 0 50% 50%;
} */